.myPost_main_wr {
    max-width: 100%;
    height: auto;
    margin: 15px;
    color: #fff;
}
.myPost_main_wr form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.myPost_main_wr textarea {
    margin: 10px 0;
    max-width: 100%;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    padding: 10px;
    border-radius: 10px;
    resize: vertical;
}
.myPost_main_wr button {
    width: 20%;
    height: 40px;
    background: white;
    border: 1px solid #292C34;
    border-radius: 5px;
    transition: all .1s ease;
}
.myPost_main_wr button:hover {
    background: rgba(129,218,251, 0.8);
}
.myPost_main_wr button:active {
    transform: scale(0.99);
}