.myPosts_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    height: auto;
    margin-top: 25px;
}
.img_wrapper {
    width: 60px;
    height: 60px;
}
.img_wrapper img {
    min-width: 60px;
    min-height: 100%;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
.myPost_description_wrapper {
    margin-left: 25px;
}
.myPost_description_wrapper p {
    margin-bottom: 10px;
}
.myPost_description_wrapper span {
    margin-top: 10px;
}