.header {
    background: #20232A;
    grid-area: header;
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.logo_wr {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
}

.login_block_wr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login_text,
.login_text_login {
    display: inline-block;
    font-size: 22px;
    margin-right: 10px;
    color: #9099B5;
    font-weight: 500;
}
.login_text_login {
    color: #73DAFB;
}

.img_wrapper {
    width: 60px;
    height: 60px;
}

.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}


