
.header {
    background: #303030;
    grid-area: header;
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: #999797;
    font-weight: 700;
}

