
.aside {
    background: #292C34;
    grid-area: aside;
    border-right: 1px solid rgba(65,70,83,0.5);
    position: relative;
}

.nav_wrapper {
    margin: 25px auto 0;
    max-height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.nav {
    width: 100%;
}


.nav li {
    padding: 10px 0;
}

.nav li:last-child {
    margin-top: 25px;
    left: 0;
    bottom: 0;
}

.nav a {
    color: white;
    font-size: 20px;
}

.nav a.active {
    color: #73DAFB;
}




@media (max-width: 639px) {
    .aside {
        display: none;
    }
}
