
.aside {
    background: #292C34;
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid rgba(65,70,83,0.5);
}

.nav {
    margin-top: 25px;
    position: fixed;
    height: 200px;
}

.nav li {
    padding: 10px 0;
}

.nav li:last-child {
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav a {
    color: white;
    font-size: 20px;
}

.nav a.active {
    color: #73DAFB;
}


@media (max-width: 639px) {
    .aside {
        display: none;
    }
}
