.footer {
    color: #fff;
    background: #303030;
    grid-area: footer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #999797;
    font-size: 20px;
    font-style: italic;
}
