.wrapper {
    max-width: 85%;
    height: auto;
    margin: 35px auto 75px;
    border-radius: 10px;
}

.save_photo {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    /*background: #7C859D;*/
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #3D414D;
}

.uploadBtn {
    color: #7C859D;
}

.span_common {
    display: inline-block;
    color: #7C859D;
    width: 35%;
}

.bio {
    margin: 50px auto;
    box-shadow: 0 0 0 2px #3D414D;
    border-radius: 5px;
    position: relative;
}
.bio button {
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 20%;
    height: 40px;
    background: white;
    border: 1px solid #292C34;
    border-radius: 5px;
    transition: all .1s ease;
}
.bio button:hover {
    background: rgba(129,218,251, 0.8)
}
.bio button:active {
    transform: scale(0.99);
}

.settingsInputWr {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(65,70,83,0.5);
    padding: 10px;
}

.settingsInputWr input {
    background: #3D414D;
    color: #7C859D;
    width: 100%;
    display: inline-block;
    padding: 5px;
    text-indent: 10px;
    border-radius: 3px;
}

.settingsInputWr input[type='checkbox'] {
    width: initial;
}

.settingsInputWr .spanKey {
    display: inline-block;
    color: #7C859D;
    width: 35%;
}

.text {
    display: inline-block;
    width: 65%;
}
.textarea {
    display: inline-block;
    min-width: 65%;
}
.textarea textarea {
    background: #3D414D;
    border-radius: 5px;
    width: 100%;
    min-height: 60px;
    max-height: 200px;
    resize: vertical;
    color: #7C859D;
    text-indent: 10px;
    padding: 5px;
}

.block_title {
    font-size: 24px;
    padding: 15px 0 15px;
    text-align: center;
}

.preloader_wr {
    width: 75px;
    height: 75px;
    margin: 30vh auto;
}

.settingsError {
    position: absolute;
    bottom: -50px;
    left: 0;
    color: red;
}