.formControl.error textarea,
.formControl.error input {
    /*animation-duration: .8s;*/
    /*animation-name: validation;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
    border: 1px solid red;
}
.formControl .errorMessage {
    font-size: 14px;
    color: red;
    /*animation-name: errorMessage;*/
    /*animation-direction: alternate;*/
    /*animation-duration: .8s;*/
    /*animation-iteration-count: infinite;*/
}

/*@keyframes validation {*/
/*    from {*/
/*        border: 1px solid red;*/
/*    }*/

/*    to {*/
/*        border: 1px solid red;*/
/*    }*/
/*}*/
/*@keyframes errorMessage {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 100%;*/
/*    }*/
/*}*/