.formControl.error textarea,
.formControl.error input {
    animation-duration: .8s;
    animation-name: validation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.formControl .errorMessage {
    font-size: 14px;
    animation-name: errorMessage;
    animation-direction: alternate;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}

@keyframes validation {
    from {
        box-shadow: 0 0 10px transparent;
    }

    to {
        box-shadow: 0 0 10px red;
    }
}
@keyframes errorMessage {
    from {
        opacity: 0;
        color: red;
    }
    to {
        opacity: 100%;
        color: red;
    }
}